/* ContactForm.css */

.contact-form-section {
    width: 94%;
    height: 500px;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 30px;
    text-align: center;
    background-color: rgb(30, 1, 56);
  }
  
  .contact-form-section h2 {
    color: pink;
    padding: 20px;
    font-size: 25px;
  }
  
  .contact-form-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-form-section input,
  .contact-form-section textarea {
    width: 80%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .contact-form-section input::placeholder,
  .contact-form-section textarea::placeholder {
    color: #ddd; 
    font-size: small;
  }
  
  .contact-form-section textarea {
    height: 100px;
  }

  .contact-form-section button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: plum;
    color: darkblue;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form-section button:hover {
    background-color: pink;
  }
